.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    /* height: 170px;
    width: 112px; */
    height: auto;
    max-width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 170px;
    padding-left: 100px;
    padding-right: 100px;
}

.desc {
    color: #fff;
    font-size: 70px;
    line-height: 1.1;
    margin-top: 300px;
}

.mouse {
    position: absolute;
    bottom: 60px;
    left: 60px;
    border: 0;
    vertical-align: middle;
}