*{
    margin: 0px;
    padding: 0px;
}

.section-heading {
    color: #0038e3;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.43;
    margin-bottom: 39px;
    text-transform: uppercase;
    text-align: center;
}

.section-description {
    word-wrap: break-word;
    color: #222;
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 0;
    max-width: 100%;
    text-align: center;
}

.section-row {
display: flex;
}